In [182]:
import pandas as pd
import numpy as np

In [183]:
data = pd.read_csv("./data/dataset-india.csv")
data

,Date,State,TotalSamples,Negative,Positive
0,2020-04-17,Andaman and Nicobar Islands,1403.0,1210,12.0
1,2020-04-24,Andaman and Nicobar Islands,2679.0,NaN,27.0
2,2020-04-27,Andaman and Nicobar Islands,2848.0,NaN,33.0
3,2020-05-01,Andaman and Nicobar Islands,3754.0,NaN,33.0
4,2020-05-16,Andaman and Nicobar Islands,6677.0,NaN,33.0
...,...,...,...,...,...
16331,2021-08-06,West Bengal,15999961.0,NaN,NaN
16332,2021-08-07,West Bengal,16045662.0,NaN,NaN
16333,2021-08-08,West Bengal,16092192.0,NaN,NaN
16334,2021-08-09,West Bengal,16122345.0,NaN,NaN
16335,2021-08-10,West Bengal,16162814.0,NaN,NaN

In [184]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16336 entries, 0 to 16335
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          16336 non-null  object
 1   State         16336 non-null  object
 2   TotalSamples  16336 non-null  float64
 3   Negative      6969 non-null   object
 4   Positive      5662 non-null   float64
dtypes: float64(2), object(3)
memory usage: 638.2+ KB

In [185]:
data['Negative'] = data['Negative'].fillna(0)
data['Positive'] = data['Positive'].fillna(0)

In [186]:
data['Negative'] = pd.to_numeric(data['Negative'],errors='coerce')
data

,Date,State,TotalSamples,Negative,Positive
0,2020-04-17,Andaman and Nicobar Islands,1403.0,1210.0,12.0
1,2020-04-24,Andaman and Nicobar Islands,2679.0,0.0,27.0
2,2020-04-27,Andaman and Nicobar Islands,2848.0,0.0,33.0
3,2020-05-01,Andaman and Nicobar Islands,3754.0,0.0,33.0
4,2020-05-16,Andaman and Nicobar Islands,6677.0,0.0,33.0
...,...,...,...,...,...
16331,2021-08-06,West Bengal,15999961.0,0.0,0.0
16332,2021-08-07,West Bengal,16045662.0,0.0,0.0
16333,2021-08-08,West Bengal,16092192.0,0.0,0.0
16334,2021-08-09,West Bengal,16122345.0,0.0,0.0
16335,2021-08-10,West Bengal,16162814.0,0.0,0.0

In [187]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16336 entries, 0 to 16335
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          16336 non-null  object
 1   State         16336 non-null  object
 2   TotalSamples  16336 non-null  float64
 3   Negative      16335 non-null  float64
 4   Positive      16336 non-null  float64
dtypes: float64(3), object(2)
memory usage: 638.2+ KB

In [188]:
# change date column to date type
data['Date'] = pd.to_datetime(data['Date'])
data.head()

        Date                        State  TotalSamples  Negative  Positive
0 2020-04-17  Andaman and Nicobar Islands        1403.0    1210.0      12.0
1 2020-04-24  Andaman and Nicobar Islands        2679.0       0.0      27.0
2 2020-04-27  Andaman and Nicobar Islands        2848.0       0.0      33.0
3 2020-05-01  Andaman and Nicobar Islands        3754.0       0.0      33.0
4 2020-05-16  Andaman and Nicobar Islands        6677.0       0.0      33.0

In [189]:
data_month_year = data['Date'].dt.to_period('M').astype(str)
data_month_year =  pd.to_datetime(data_month_year)
data_month_year

0       2020-04-01
1       2020-04-01
2       2020-04-01
3       2020-05-01
4       2020-05-01
           ...
16331   2021-08-01
16332   2021-08-01
16333   2021-08-01
16334   2021-08-01
16335   2021-08-01
Name: Date, Length: 16336, dtype: datetime64[ns]

In [190]:
date_unique = data_month_year.unique()
date_unique = date_unique.sort()
date_unique

array(['2020-04-01T00:00:00.000000000', '2020-05-01T00:00:00.000000000',
       '2020-06-01T00:00:00.000000000', '2020-07-01T00:00:00.000000000',
       '2020-08-01T00:00:00.000000000', '2020-09-01T00:00:00.000000000',
       '2020-10-01T00:00:00.000000000', '2020-11-01T00:00:00.000000000',
       '2020-12-01T00:00:00.000000000', '2021-01-01T00:00:00.000000000',
       '2021-02-01T00:00:00.000000000', '2021-03-01T00:00:00.000000000',
       '2021-04-01T00:00:00.000000000', '2021-05-01T00:00:00.000000000',
       '2021-06-01T00:00:00.000000000', '2021-07-01T00:00:00.000000000',
       '2021-08-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [208]:
number_dates = len(list(date_unique))
start_dates = date_unique.copy()
end_dates = date_unique.copy()

In [192]:
number_dates

17

In [193]:
data = data.sort_values(by='Date')
data.head(5)

            Date        State  TotalSamples  Negative  Positive
7410  2020-04-01       Kerala        7965.0    7256.0     265.0
15843 2020-04-01  West Bengal         659.0     568.0      37.0
3507  2020-04-01        Delhi        2621.0       0.0       0.0
1418  2020-04-02        Assam         962.0     819.0      16.0
7411  2020-04-02       Kerala        8456.0    7622.0     286.0

In [194]:
# data.loc[data['Date'].min()].Date
data2 = min(data['Date'])
test = data.loc[data['Date'] == data2].Date
test

7410    2020-04-01
15843   2020-04-01
3507    2020-04-01
Name: Date, dtype: datetime64[ns]

In [195]:
data_grouped_by_state = data.loc[data['State'] == "Andaman and Nicobar Islands"]
data_grouped_by_state

          Date                        State  TotalSamples  Negative  Positive
0   2020-04-17  Andaman and Nicobar Islands        1403.0    1210.0      12.0
1   2020-04-24  Andaman and Nicobar Islands        2679.0       0.0      27.0
2   2020-04-27  Andaman and Nicobar Islands        2848.0       0.0      33.0
3   2020-05-01  Andaman and Nicobar Islands        3754.0       0.0      33.0
4   2020-05-16  Andaman and Nicobar Islands        6677.0       0.0      33.0
..         ...                          ...           ...       ...       ...
448 2021-08-05  Andaman and Nicobar Islands      447339.0       0.0       0.0
449 2021-08-06  Andaman and Nicobar Islands      448882.0       0.0       0.0
450 2021-08-07  Andaman and Nicobar Islands      450208.0       0.0       0.0
451 2021-08-08  Andaman and Nicobar Islands      451415.0       0.0       0.0
452 2021-08-09  Andaman and Nicobar Islands      452587.0       0.0       0.0

[453 rows x 5 columns]

In [196]:
data['Date']

7410    2020-04-01
15843   2020-04-01
3507    2020-04-01
1418    2020-04-02
7411    2020-04-02
           ...
9375    2021-08-10
9781    2021-08-10
3336    2021-08-10
2854    2021-08-10
16335   2021-08-10
Name: Date, Length: 16336, dtype: datetime64[ns]

In [209]:
start_dates[0]

numpy.datetime64('2020-04-01T00:00:00.000000000')

In [210]:
# end_dates[len(end_dates)-1]
len(end_dates)

17

In [211]:
mask = (data_grouped_by_state['Date'] >= start_dates[0]) & (data_grouped_by_state['Date'] <= end_dates[len(end_dates)-1] )
data_x = data_grouped_by_state.loc[mask]
data_x

          Date                        State  TotalSamples  Negative  Positive
0   2020-04-17  Andaman and Nicobar Islands        1403.0    1210.0      12.0
1   2020-04-24  Andaman and Nicobar Islands        2679.0       0.0      27.0
2   2020-04-27  Andaman and Nicobar Islands        2848.0       0.0      33.0
3   2020-05-01  Andaman and Nicobar Islands        3754.0       0.0      33.0
4   2020-05-16  Andaman and Nicobar Islands        6677.0       0.0      33.0
..         ...                          ...           ...       ...       ...
440 2021-07-28  Andaman and Nicobar Islands      437301.0       0.0       0.0
441 2021-07-29  Andaman and Nicobar Islands      438456.0       0.0       0.0
442 2021-07-30  Andaman and Nicobar Islands      439639.0       0.0       0.0
443 2021-07-31  Andaman and Nicobar Islands      440870.0       0.0       0.0
444 2021-08-01  Andaman and Nicobar Islands      442063.0       0.0       0.0

[445 rows x 5 columns]

In [212]:
data_grouped_by_state['Date']

0     2020-04-17
1     2020-04-24
2     2020-04-27
3     2020-05-01
4     2020-05-16
         ...
448   2021-08-05
449   2021-08-06
450   2021-08-07
451   2021-08-08
452   2021-08-09
Name: Date, Length: 453, dtype: datetime64[ns]

In [213]:
data_grouped_by_state['Date'] <= end_dates[len(end_dates)-1]

0       True
1       True
2       True
3       True
4       True
       ...
448    False
449    False
450    False
451    False
452    False
Name: Date, Length: 453, dtype: bool

In [214]:
(data_grouped_by_state['Date'] >= start_dates[0]) & (data_grouped_by_state['Date'] <= end_dates[len(end_dates)-1] )

0       True
1       True
2       True
3       True
4       True
       ...
448    False
449    False
450    False
451    False
452    False
Name: Date, Length: 453, dtype: bool